<a href="https://colab.research.google.com/github/zeynepmert/Workintech_data_analysis_graduation_project/blob/tuba/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
customers= pd.read_csv('customers.csv')
orders= pd.read_csv('orders.csv')
products= pd.read_csv('products.csv')
sales= pd.read_csv('sales.csv')

In [3]:
sales.columns

Index(['sales_id', 'order_id', 'product_id', 'price_per_unit', 'quantity',
       'total_price'],
      dtype='object')

In [4]:
customers.columns

Index(['customer_id', 'customer_name', 'gender', 'age', 'home_address',
       'zip_code', 'city', 'state', 'country'],
      dtype='object')

In [5]:
orders.columns

Index(['order_id', 'customer_id', 'payment', 'order_date', 'delivery_date'], dtype='object')

In [6]:
products.columns

Index(['product_ID', 'product_type', 'product_name', 'size', 'colour', 'price',
       'quantity', 'description'],
      dtype='object')

In [7]:
orders['order_date']

0      2021-8-30
1       2021-2-3
2      2021-10-8
3       2021-5-6
4      2021-3-23
         ...
995    2021-1-13
996    2021-1-18
997     2021-5-5
998    2021-6-15
999     2021-4-7
Name: order_date, Length: 1000, dtype: object