orders_update.csv dosyasindaki duzeltmeleri yapip olusturdugum orders_with_payment.csv dosyamizin dogrulugunu kontrol ettim.

In [16]:
import pandas as pd

In [17]:
orders_df = pd.read_csv('../data/orders_updated.csv')
sales_df = pd.read_csv('../data/sales.csv')
orders_with_payment_df = pd.read_csv('../data/orders_with_payment.csv')

In [18]:
# customer_id = 1 olan musteriyi sectim cunku bu musteri birden fazla alisveris yapmis.
customer_1_orders = orders_df[orders_df['customer_id'] == 1]
display(customer_1_orders['order_id'])

454    455
669    670
728    729
Name: order_id, dtype: int64

In [ ]:
# customer = 1 'e ait order_id'ler : 455, 670, 729 --> Bunu eski data(orders_update)'dan kontrol ettik.

In [19]:
# customer_id'si 1 olan musterinin her yaptigi order_id icin total price'i
customer_1_orders = orders_with_payment_df [orders_with_payment_df ['customer_id'] == 1]
display(customer_1_orders[['order_id', 'payment']])

     order_id  payment
454       455    500.0
669       670    749.0
728       729    392.0

In [20]:
# sales tablosunu kullanarak order_id'si 455, 670 ve 729 olan orderlarin total_price degerleri
selected_order_ids = [455, 670, 729]
selected_orders = sales_df[sales_df['order_id'].isin(selected_order_ids)]
display(selected_orders[['order_id', 'total_price']])

      order_id  total_price
2245       455          318
2246       455          182
3324       670          196
3325       670          182
3326       670           98
3327       670          273
3639       729          294
3640       729           98

In [21]:
# orders_with_payment.csv'den customer_id'si 1 olan musterinin payment degeri
customer_1_payment = orders_with_payment_df[orders_with_payment_df['customer_id'] == 1]
display(customer_1_payment[['customer_id', 'payment']])

     customer_id  payment
454            1    500.0
669            1    749.0
728            1    392.0