In [16]:
import pandas as pd
import numpy as np
sales = pd.read_csv(r"C:\Users\ysfcl\Desktop\Workintech final\Workintech_data_analysis_graduation_project\data\sales.csv")
orders = pd.read_csv(r"C:\Users\ysfcl\Desktop\Workintech final\Workintech_data_analysis_graduation_project\data\orders.csv")
customers = pd.read_csv(r"C:\Users\ysfcl\Desktop\Workintech final\Workintech_data_analysis_graduation_project\data\customers.csv")
products = pd.read_csv(r"C:\Users\ysfcl\Desktop\Workintech final\Workintech_data_analysis_graduation_project\data\products.csv")
sales

      sales_id  order_id  product_id  price_per_unit  quantity  total_price
0            0         1         218             106         2          212
1            1         1         481             118         1          118
2            2         1           2              96         3          288
3            3         1        1002             106         2          212
4            4         1         691             113         3          339
...        ...       ...         ...             ...       ...          ...
4995      4995       998         321             109         2          218
4996      4996       998         251              95         3          285
4997      4997       999         872             113         1          113
4998      4998       999         998             106         2          212
4999      4999       999        1105             115         1          115

[5000 rows x 6 columns]

In [15]:
total_revenue = sales["total_price"].sum()
print(f"Toplam Ciro: ${total_revenue:,.2f}")

Toplam Ciro: $1,031,800.00

In [17]:
sales_orders = pd.merge(sales, orders, on="order_id", how="left")

In [18]:
sales_orders_customers = pd.merge(sales_orders, customers, on="customer_id", how="left")

In [20]:
full_data = pd.merge(sales_orders_customers, products, left_on="product_id", right_on="product_ID", how="left")

In [33]:
full_data["order_date"] = pd.to_datetime(full_data["order_date"])
#monthly revenue
month_revenue=full_data.groupby(full_data["order_date"].dt.to_period("M"))["total_price"].sum()
year_revenue=full_data.groupby(full_data["order_date"].dt.year)["total_price"].sum()
print(month_revenue)
print(year_revenue)

order_date
2021-01    119333
2021-02     95080
2021-03    131364
2021-04     97530
2021-05     85597
2021-06    101458
2021-07    116081
2021-08    104565
2021-09     96526
2021-10     84266
Freq: M, Name: total_price, dtype: int64
order_date
2021    1031800
Name: total_price, dtype: int64

In [26]:
print(orders)

     order_id  customer_id  payment order_date delivery_date
0           1           64    30811  2021-8-30    2021-09-24
1           2          473    50490   2021-2-3    2021-02-13
2           3          774    46763  2021-10-8    2021-11-03
3           4          433    39782   2021-5-6    2021-05-19
4           5          441    14719  2021-3-23    2021-03-24
..        ...          ...      ...        ...           ...
995       996          345    37843  2021-1-13    2021-02-02
996       997          346    53831  2021-1-18    2021-01-31
997       998          407    53308   2021-5-5    2021-05-21
998       999          428    31643  2021-6-15    2021-07-12
999      1000          896    27836   2021-4-7    2021-04-24

[1000 rows x 5 columns]

In [35]:
product_revenue=full_data.groupby("product_name")["total_price"].sum().sort_values(ascending=False)
print(product_revenue)

product_name
Denim                52399
Casual Slim Fit      36414
Trench Coat          35581
Shearling            35334
Puffer               35164
Flannel              33158
Cropped              32660
Pleated              32340
Joggers              31062
Chambray             30740
Parka                30397
Bomber               29700
Chinos               29380
Windbreaker          29274
Cardigan             29120
Peacoat              28994
Tracksuit Bottoms    28784
Slim-Fit             27936
Oxford Cloth         27744
Drawstring           27648
High-Waisted         27522
Camp Collared        27342
Cargo Pants          27234
Relaxed Leg          27090
Cuban Collar         26670
Henley               26414
Wool                 26394
Leather              25774
Mandarin Collar      25724
Dress                25272
Pullover             25116
Polo                 25080
Coach                24645
Linen                24570
Cords                23124
Name: total_price, dtype: int64

In [37]:
customer_revenue = full_data.groupby("customer_name")["total_price"].sum().sort_values(ascending=False)
print(customer_revenue)

customer_name
Wren Helgass            7632
Kristofor Roos          6640
Dannie Fidler           6341
Esteban Hensmans        5657
Crin Johnikin           5581
                        ...
Prissie Kondratovich     200
Ginnie Glasheen          186
Jarrett Brumby           183
Nathaniel McCandless     112
Amaleta Beange           100
Name: total_price, Length: 616, dtype: int64

In [39]:
basket_amount= full_data.groupby("order_id")["total_price"].sum()
avg_basket_amount= basket_amount.mean()
print(f"Avg. Basket: ${avg_basket_amount:.2f}")

Avg. Basket: $1039.07

In [46]:
full_data["profit"] = full_data["total_price"] - (full_data["quantity_x"] * full_data["price"])
total_profit = full_data["profit"].sum()
print(f"Total profit: ₺{total_profit:,.2f}")

Total profit: ₺-19,960.00

In [45]:
full_data.head()

,sales_id,order_id,product_id,price_per_unit,quantity_x,total_price,customer_id,payment,order_date,delivery_date,...,state,country,product_ID,product_type,product_name,size,colour,price,quantity_y,description
0,0,1,218,106,2,212,64,30811,2021-08-30,2021-09-24,...,South Australia,Australia,218,Shirt,Chambray,L,orange,105,44,"A orange coloured, L sized, Chambray Shirt"
1,1,1,481,118,1,118,64,30811,2021-08-30,2021-09-24,...,South Australia,Australia,481,Jacket,Puffer,S,indigo,110,62,"A indigo coloured, S sized, Puffer Jacket"
2,2,1,2,96,3,288,64,30811,2021-08-30,2021-09-24,...,South Australia,Australia,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,1,1002,106,2,212,64,30811,2021-08-30,2021-09-24,...,South Australia,Australia,1002,Trousers,Wool,M,blue,111,52,"A blue coloured, M sized, Wool Trousers"
4,4,1,691,113,3,339,64,30811,2021-08-30,2021-09-24,...,South Australia,Australia,691,Jacket,Parka,S,indigo,119,53,"A indigo coloured, S sized, Parka Jacket"

In [48]:
products.head()

,product_ID,product_type,product_name,size,colour,price,quantity,description
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"