In [1]:
import pandas as pd

In [3]:
churn_df = pd.read_csv('../data/orders_with_churn.csv')
payment_df = pd.read_csv('../data/orders_with_payment.csv')

churn_df.head()

,order_id,customer_id,payment,order_date,delivery_date,delivery_time,churn
0,1,64,30811,2021-08-30,2021-09-24,25 days,0
1,2,473,50490,2021-02-03,2021-02-13,10 days,1
2,3,774,46763,2021-10-08,2021-11-03,26 days,0
3,4,433,39782,2021-05-06,2021-05-19,13 days,1
4,5,441,14719,2021-03-23,2021-03-24,1 days,1

In [4]:
payment_df.head()

   order_id  customer_id  order_date delivery_date delivery_time  payment
0         1           64  2021-08-30    2021-09-24       25 days   1487.0
1         2          473  2021-02-03    2021-02-13       10 days   1130.0
2         3          774  2021-10-08    2021-11-03       26 days    508.0
3         4          433  2021-05-06    2021-05-19       13 days    976.0
4         5          441  2021-03-23    2021-03-24        1 days   2043.0

In [5]:
# Drop the 'payment' column from churn_df
churn_df = churn_df.drop('payment', axis=1)

# Merge the 'churn' column from churn_df to payment_df based on 'order_id'
merged_df = pd.merge(payment_df, churn_df[['order_id', 'churn']], on='order_id', how='left')

# Display the merged DataFrame
display(merged_df.head())

,order_id,customer_id,order_date,delivery_date,delivery_time,payment,churn
0,1,64,2021-08-30,2021-09-24,25 days,1487.0,0
1,2,473,2021-02-03,2021-02-13,10 days,1130.0,1
2,3,774,2021-10-08,2021-11-03,26 days,508.0,0
3,4,433,2021-05-06,2021-05-19,13 days,976.0,1
4,5,441,2021-03-23,2021-03-24,1 days,2043.0,1

In [6]:
merged_df.to_csv('orders_with_churn_and_payment.csv', index=False)