### orders_update Duzeltilmis Data
Orders_update.csv dosyasindaki payment degerleri yanlis oldugu icin bunlari total_price lari hesaplayarak yeni bir payment sutunu ekledim. Eski (hatali) payment sutununu sildim ve bunu 'orders_with_payment.csv' olarak export ettim.

In [11]:
import pandas as pd

In [12]:
orders_df = pd.read_csv('../data/orders_updated.csv')
sales_df = pd.read_csv('../data/sales.csv')

In [13]:
# payment sutununu silme
orders_df = orders_df.drop('payment', axis=1)

In [14]:
#
order_total_price = sales_df.groupby('order_id')['total_price'].sum().reset_index()

In [15]:
# total_price ekleme
orders_df = pd.merge(orders_df, order_total_price, on='order_id', how='left')
orders_df = orders_df.rename(columns={'total_price': 'payment'})
orders_df.head()

   order_id  customer_id  order_date delivery_date delivery_time  payment
0         1           64  2021-08-30    2021-09-24       25 days   1487.0
1         2          473  2021-02-03    2021-02-13       10 days   1130.0
2         3          774  2021-10-08    2021-11-03       26 days    508.0
3         4          433  2021-05-06    2021-05-19       13 days    976.0
4         5          441  2021-03-23    2021-03-24        1 days   2043.0

In [16]:
# csv olarak disa aktarma
orders_df.to_csv('orders_with_payment.csv', index=False)